/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */
:root {
  --text-primary: #ffffff;
  --text-secondary: #c2c2c2;
  --text-hightlight: #00bfa6;
  --background-color: #2f2e41;
}

/* general */
#page {
  width: 1090px;
  margin: 0 auto;
}

body {
  background-color: var(--background-color);
}

ul li a,
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

span {
  color: var(--text-hightlight);
}

/* header */
header {
  padding: 70px 0 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 64px;
}

ul li {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

ul li a {
  color: var(--text-primary);
}

ul li a:hover {
  color: var(--text-hightlight);
  font-weight: bold;
  transition: all 0.2s;
}

/* main */
main {
  display: flex;
  gap: 82px;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 36px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 60px;
}

p {
  color: var(--text-secondary);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  width: 604px;
}

p span {
  font-weight: 700;
}

p + p {
  margin-top: 20px;
}

/* footer */
